.bottom-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > * {
    margin-bottom: get-size('300');
    padding: 0 get-size('400');
  }

  a {
    text-align: center;
    text-decoration: none;
    color: get-color('grey-mid-dark');

    &:hover {
      color: get-color('primary-dark');
    }
  }
}
