.drawer {
  display: block;
  margin-right: get-size('400');

  @include media-query('md') {
    display: none;
  }

  &_button {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: get-size('500');
    border: 1px solid get-color('grey-light');
    border-radius: 5px;
    background-color: get-color('off-white');

    transition: background-color 0.1s ease-in-out;

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: get-color('grey-lighter');
    }
  }

  &_bg {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: transparent;
    pointer-events: visible;
    visibility: hidden;

    transition: background-color 150ms ease-in-out, visibility 150ms ease-in-out;

    &[data-show='true'] {
      background-color: rgba($color: #000000, $alpha: 0.2);
      visibility: visible;
    }
  }

  &_slider {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;

    visibility: hidden;

    box-shadow: 0 0 0.5rem 0 get-color('grey-dark');
    background-color: get-color('grey-lighter');

    transform: translateX(-100%);

    transition: transform 150ms ease-in-out, visibility 150ms ease-in-out;

    &[data-open='true'] {
      transform: translateX(0);
      visibility: visible;
    }
  }
}
