.flash-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: get-color('cool');
  color: get-color('grey-darker');

  &_dismiss {
    display: flex;
    border: none;
    color: get-color('grey-darker');
    background-color: transparent;

    &:hover {
      color: get-color('grey-mid-dark');
    }
  }
}
