.form-item {
  display: flex;
  width: 100%;
  flex-direction: column;

  & > label {
    width: max-content;
    color: get-color('grey-darker');
    @include apply-utility('weight', 'medium');
  }

  & > input,
  > select {
    margin-top: 0.25rem;

    outline: none;
    align-self: stretch;
    border-radius: 5px;
    padding: 0.2em 0.8em;
    border: 1px solid get-color('grey-light');
    background-color: get-color('grey-lightest');

    transition: background-color 150ms ease-in-out;

    &:focus {
      box-shadow: 0 0 0 2px deepskyblue;
      background-color: get-color('off-white');
    }
  }

  &[data-changed='true'] {
    & > input,
    > select {
      color: get-color('primary');
    }
  }

  & option {
    color: get-color('grey-darkest');
  }

  &_error {
    margin-top: 0.25em;
    color: get-color('danger');
    font-size: get-size('300');
  }
}
