.form-button {
  --flow-space: 1.5em;
  padding: 0.5rem 1rem;
  border: 1px solid get-color('grey-dark');
  border-radius: 5px;
  background-color: get-color('success');
  color: get-color('off-white');
  outline: none;

  transition: background-color 0.1s ease-in-out;

  &:focus {
    box-shadow: 0 0 0 2px deepskyblue;
  }

  &:hover {
    cursor: pointer;
    background-color: get-color('success-dark');
  }

  &:active {
    box-shadow: inset 0 0 5px 0 get-color('grey-dark');
  }

  &:disabled {
    cursor: default;
    background-color: get-color('grey-mid-light');
  }
}
