.has-sidebar {
  display: flex;
  flex-direction: row;

  & > :first-child {
    display: none;

    @include media-query('md') {
      display: block;
      margin-right: get-size('700');
    }
  }

  & > :last-child {
    flex-grow: 1;
  }
}
