.password-meter {
  & > figcaption {
    color: get-color('grey-darker');
    margin-bottom: 0.5rem;
  }

  & > div {
    height: 3px;

    transition: width 100ms ease-out;

    &[data-score='0'] {
      width: 20%;
      background-color: get-color('danger');
    }

    &[data-score='1'] {
      width: 40%;
      background-color: get-color('grey-dark');
    }

    &[data-score='2'] {
      width: 60%;
      background-color: get-color('cool');
    }

    &[data-score='3'] {
      width: 80%;
      background-color: get-color('success-dark');
    }

    &[data-score='4'] {
      width: 100%;
      background-color: get-color('success');
    }
  }
}
