.side-nav {
  width: 15rem;

  > li {
    display: block;
  }

  &_link {
    display: block;
    padding: get-size('300') get-size('300');
    text-decoration: none;
    color: get-color('grey-dark');

    transition: background-color 0.1s ease-in-out;

    & > svg {
      min-width: 1.5rem;
      margin-right: 0.75rem;
    }

    &:hover {
      background-color: get-color('grey-light');
    }

    &:active {
      color: get-color('primary-dark');
    }
  }
}
