.site-footer {
  margin-top: auto;
  padding-top: get-size('600');
  padding-bottom: get-size('600');
  text-align: center;

  &_inner {
    padding-top: get-size('400');
    border-top: 1px solid get-color('grey-light');
  }
}
