.site-header {
  background-color: get-color('primary');

  &_inner {
    padding: get-size('500') 0;
  }

  &_logo {
    display: block;
    height: 1.75rem;

    & > img {
      height: 100%;
    }
  }
}
