.tablist {
  display: flex;
  width: 100%;

  & > button {
    position: relative;
    flex: 1 0 0;
    padding: get-size('300') get-size('500');
    cursor: pointer;
    border: none;

    @include apply-utility('weight', 'medium');

    background-color: get-color('off-white');
    color: get-color('grey-dark');
    white-space: normal;

    transition: background-color 150ms ease-in-out;

    &:hover {
      background-color: get-color('grey-lightest');
      color: get-color('grey-darkest');
    }

    &:active {
      box-shadow: inset 0 0 0.5rem 0 get-color('grey-light');
    }

    &[aria-selected='true'] {
      color: get-color('primary');

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: get-size('400');
        right: get-size('400');
        height: 3px;
        background-color: get-color('primary');
      }
    }
  }
}
