@import 'reset';

@import 'config';

@import '../../node_modules/gorko/gorko.scss';

@import 'utilities/flow';
@import 'utilities/wrapper';

@import 'blocks/bottom-nav';
@import 'blocks/site-footer';
@import 'blocks/site-header';
@import 'blocks/has-sidebar';
@import 'blocks/side-nav';
@import 'blocks/drawer';
@import 'blocks/dash-top';
@import 'blocks/tablist';
@import 'blocks/tabpanel';
@import 'blocks/dash-container';
@import 'blocks/form-item';
@import 'blocks/form-button';
@import 'blocks/flash-message';
@import 'blocks/password-meter';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  line-height: 1.5;
  overflow-x: hidden;
  background-color: get-color('grey-lighter');
  font-size: get-size('400');

  @include apply-utility('weight', 'normal');
  @include apply-utility('font', 'base');
}

#react-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
